<div class="footer2">
  <div>
    <%= image_tag "logo-home-page-2.png", class: "footer-logo" %>
  </div>
   <div>
     <h3>Email:</h3>
      <%= mail_to("alexlansdale1@gmail.com", name = "alexlansdale1@gmail.com", class: "button2") %>
    </div>
    <div>
      <h3>Phone:</h3>
      <p> +44 7983 945 508</p>
    </div>
    <div>
      <p><i class="fa fa-copyright"></i> Gareth Cary</p>
    </div>
  </div>
</div>
