


<%= render "pages/navbar1" %>

<div class="create-page-content">
  <div class="create-page-info">
    <h1>Thank you for your email</h1>
    <br>
    <h2>Alexandra Lansdale will contact you shortly</h2>
    <br>
    <br>
    <%= link_to "Finish", root_path, class: 'link-back-home' %>
  </div>
</div>

<%= render "pages/footer1" %>
